body {
    background-color: ivory;
}

button,
input,
label {
    outline: none;
}

p {
    color: #2e2e2e;
}

* {
    font-family: 'Lora', serif;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.delBtn {
    border: none;
    background: none;
    cursor: pointer
}

.toDoListBox {
    padding-left: 0px;
}

.toDoList {
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
}